<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="main-wrapper">
      <div class="login-area">
        <div class="sign-up">
          <a href="/autentificare/login">Belépés</a>
        </div>
        <h1 class="heder">Regisztráció!</h1>
        <span class="smlp">Regisztrálj hogy testreszabhasd az oldalt</span>
        <span class="smlp">
          Egyéni beállítások, Kedvenc kategóriák, E-mail értesítés, Hozzászólás
          küldés</span
        >
        <form action="/autentificare/signup" method="POST">
          <input type="text" placeholder="E-mail címed" name="email" />
          <input type="password" placeholder="Jelszavad" name="password" />

          <div class="form-grou">
            <input class="submit-btn" type="submit" value="Regisztráció" />
          </div>
        </form>
      </div>
    </div>
    <div class="login-image"><img src="/img/stiri.jpeg" /></div>
  </body>
</html>
