<%- include('../includes/head.ejs') %>

<body class="color-theme-pink framework7-root">
  <div class="page">
    <%- include('../includes/logo.ejs') %>

    <div style="padding-top: 0px !important;" class="page-content">
      <div class="block">
        <h2>Hír megjelenéseinek testreszabása</h2>
      </div>
      <div class="list pages-list">
        <ul>
          <li>
            <a href="/profile/select-channel" class="item-link item-content">
              <div class="item-media bg-color-green">
                <i class="f7-icons">square_list_fill</i>
              </div>
              <div class="item-inner">
                <div class="item-title">Hírcsatornák</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/profile/select-category" class="item-link item-content">
              <div class="item-media bg-color-green">
                <i class="f7-icons">square_list_fill</i>
              </div>
              <div class="item-inner">
                <div class="item-title">Kategóriák</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="block">
        <h2>E-mail küldés</h2>
      </div>
      <div class="list pages-list">
        <ul>
          <li>
            <a href="/list-category-author/" class="item-link item-content">
              <div class="item-media bg-color-green">
                <i class="f7-icons">envelope_fill</i>
              </div>
              <div class="item-inner">
                <div class="item-title">Cikk komment</div>
                <label class="toggle toggle-init color-green toggle-theme">
                  <input type="checkbox" />
                  <span class="toggle-icon"></span>
                </label>
              </div>
            </a>
          </li>

          <li>
            <a href="/list-category-date/" class="item-link item-content">
              <div class="item-media bg-color-green">
                <i class="f7-icons">envelope_fill</i>
              </div>
              <div class="item-inner">
                <div class="item-title">Napi összefoglaló</div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="block">
        <h2>Előzmények</h2>
      </div>

      <div class="list pages-list">
        <ul>
          <li>
            <a href="/profile/history" class="item-link item-content">
              <div class="item-media">
                <i class="f7-icons">arrow_counterclockwise_circle</i>
              </div>
              <div class="item-inner">
                <div class="item-title">Előzmények megtekintése</div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="block">
        <h2>Hiányzik a kedvenc hírportálod?</h2>
      </div>

      <div class="list pages-list">
        <ul>
          <li>
            <a href="/contact/" class="item-link item-content">
              <div class="item-media">
                <i class="f7-icons">envelope_fill</i>
              </div>
              <div class="item-inner">
                <div class="item-title">Új hírportált szeretnék</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="toolbar tabbar tabbar-labels toolbar-bottom">
      <div class="toolbar-inner">
        <a href="/stiri" class="tab-link">
          <i class="f7-icons">house_fill</i>
          <span class="tabbar-label">Főoldal</span>
        </a>
        <a href="/categorii" class="tab-link">
          <i class="f7-icons">square_grid_2x2_fill</i>
          <span class="tabbar-label">Kategóriák</span>
        </a>
        <a href="/top" class="tab-link">
          <i class="f7-icons">tornado</i>
          <span class="tabbar-label">Top hírek</span>
        </a>
        <a href="/history" class="tab-link">
          <i class="f7-icons">heart</i>
          <span class="tabbar-label">Előzmények</span>
        </a>
        <a href="#" class="tab-link tab-link-active">
          <i class="f7-icons">person_crop_circle</i>
          <span class="tabbar-label">Profil</span>
        </a>
      </div>
    </div>
  </div>
</body>
<%- include('../includes/end.ejs') %>
