<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="theme-color" content="#2196f3">
		<meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
		<title>NewsApp</title>
		<link rel="stylesheet" href="/css/framework7.bundle.min.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="stylesheet" href="/css/framework7-icons.css">
		<link rel="stylesheet" href="/css/default.css">
		<link rel="apple-touch-icon" href="/img/f7-icon-square.png">
		<link rel="icon" href="/img/f7-icon.png">
		<style>
		</style>
	</head>
	<body class="main-home">
	
	<div class="guidetab" style=" position: absolute;
    top: 0px;
    left: 0px;
    background: var(--f7-guide-bg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    display: none;" >
</div>	


	
<div data-name="explore" class="page explore-root">
	<div class="page-content">
		<div class="search-wrap block">
			<div class="search-block">
				<form id="search-bar" class="searchbar">	<span class="search-ic"></span>
					<div class="searchbar-input">
						<input type="text" placeholder="Search">
						<a href="#" class="searchbar-clear"></a>
					</div>	<span class="search-mic"><a href="/searchmic/"> <i class="f7-icons">mic</i></a></span>	
				</form>
			</div>
			<div class="switch-toggle">	<span id="swither">
						<label class="toggle toggle-init"><input type="checkbox"><span class="toggle-icon"> </span>
				</label>
				</span>
			</div>
		</div>
		<div class="block spacing-block2 homespac6"> <a href="/videodetail/"><h2>Trending</h2></a>
			<p>Some of top trending news on stories from the world news channels.</p>
		</div>
		<div class="block block-leftspace slider-spacing-fx">
			<!-- Slider container -->
			<div  class="swiper-container swiper-init trendingSwiper swiper-container-initialized swiper-container-horizontal swiper-container-ios">
				<!-- Slides wrapper -->
				<div class="swiper-wrapper textcenter">
					<!-- Slides -->
					<div class="swiper-slide scaleffect">
						<a href="/timeline/">
							<div class="catagories-items">
								<img class="lazy lazy-fade-in img-responsive" src="/img/techno.jpg" alt="World">
								<h6>Technology</h6>
							</div>
						</a>
					</div>
					<div class="swiper-slide scaleffect">
						<a href="/timeline/">
							<div class="catagories-items">
								<img class="lazy lazy-fade-in img-responsive" src="/img/world.jpg" alt="World">
								<h6>World</h6>
							</div>
						</a>
					</div>
					<div class="swiper-slide scaleffect">
						<a href="/timeline/">
							<div class="catagories-items">
								<img class="lazy lazy-fade-in img-responsive" src="/img/politics.jpg" alt="Politics">
								<h6>Politics</h6>
							</div>
						</a>
					</div>
					<div class="swiper-slide scaleffect">
						<a href="/timeline/">
							<div class="catagories-items">
								<img class="lazy lazy-fade-in img-responsive" src="/img/sports.jpg" alt="Health">
								<h6>Sports</h6>
							</div>
						</a>
					</div>
					<div class="swiper-slide scaleffect">
						<a href="/timeline/">
							<div class="catagories-items">
								<img class="lazy lazy-fade-in img-responsive" src="/img/techno.jpg" alt="Technology">
								<h6>Technology</h6>
							</div>
						</a>
					</div>
					<div class="swiper-slide scaleffect">
						<a href="/timeline/">
							<div class="catagories-items">
								<img class="lazy lazy-fade-in img-responsive" src="/img/world.jpg" alt="World">
								<h6>World</h6>
							</div>
						</a>
					</div>
					<div class="swiper-slide scaleffect">
						<a href="/timeline/">
							<div class="catagories-items">
								<img class="lazy lazy-fade-in img-responsive" src="/img/politics.jpg" alt="Politics">
								<h6>Politics</h6>
							</div>
						</a>
					</div>
					<div class="swiper-slide scaleffect">
						<a href="/timeline/">
							<div class="catagories-items">
								<img class="lazy lazy-fade-in img-responsive" src="/img/health.jpg" alt="Health">
								<h6>Health</h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Latest News -->
		<div class="block spacing-slider1 homespac2">
<a href="/Profilepage/"><h2>Latest News</h2></a>
		</div> 
		<div class="block block-leftspace margin-0">
			<div data-pagination='{"el": ".swiper-pagination"}' data-space-between="16" data-slides-per-view="auto" class="swiper-container swiper-init demo-swiper demo-swiper-auto Latest-News-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide swiper-slide-widthauto scaleffect">
						<div class="out-wrap">
							<a href="/postdetail/">
								<div class="News-catagories-wraper">
									<div class="News-Health-overly"></div>
									<img class="News-catagories-wraper-img" src="img/latest-news-thumb.jpg" alt="">
									<div class="News-catagories-heading">
										<h3 class="h3">Health</h3>
										<span class="News-catagories-heading-text reversecolor">Newest Launches </span>
									</div>
								</div>
								<div class="News-story-info">
									<div class="News-profile">
										<img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg">
									</div>
									<div class="News-title">	<span class="News-head">Uzoma4 Buchi</span>
										<span class="News-date">Jun 6 </span>  <span class="News-time">4 Min Read</span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide swiper-slide-widthauto scaleffect">
						<div class="out-wrap">
							<a href="/postdetail/">
								<div class="News-catagories-wraper">
									<div class="News-Health-overly"></div>
									<img class="News-catagories-wraper-img" src="img/slide2.jpg" alt="">
									<div class="News-catagories-heading">
										<h3 class="h3">Life</h3>
										<span class="News-catagories-heading-text reversecolor">Newest Launches </span>
									</div>
								</div>
								<div class="News-story-info">
									<div class="News-profile">
										<img class="lazy-fade-in img-responsive lazy-loaded" src="img/profile2.jpg">
									</div>
									<div class="News-title">	<span class="News-head">zoma Buchi</span>
										<span class="News-date">Jun 22 </span>  <span class="News-time">3 Min Read</span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide swiper-slide-widthauto scaleffect">
						<div class="out-wrap">
							<a href="/postdetail/">
								<div class="News-catagories-wraper ">
									<div class="News-Health-overly"></div>
									<img class="News-catagories-wraper-img" src="img/road.jpg" alt="">
									<div class="News-catagories-heading">
										<h3 class="h3">World</h3>
										<span class="News-catagories-heading-text reversecolor">Newest Launches </span>
									</div>
								</div>
								<div class="News-story-info">
									<div class="News-profile">
										<img class="lazy-fade-in img-responsive lazy-loaded" src="img/user-b.jpg">
									</div>
									<div class="News-title">	<span class="News-head">Uzoma Buchi</span>
										<span class="News-date">Jun 2 </span>  <span class="News-time">3 Min Read</span>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Latest News ends-->
		<!-- Top Categories -->
		<div class="block3 block explorer-block spacing-home1 homespac4">
			<h2>Top Categories</h2>
			<div class="news-wraper block-order">
				<a href="/list/" class="catagories-wraper scaleffect">
					<div class="Health-overly"></div>
					<img class="catagories-wraper-img" src="/img/health.jpg" alt="">
					<div class="catagories-heading">
						<img src="/img/health.svg">
						<h2 class="catagories-heading-text reversecolor">Health </h2>
					</div>
				</a>
				<a href="/list/" class="catagories-wraper scaleffect">
					<div class="techno-overly"></div>
					<img class="catagories-wraper-img" src="/img/technology.jpg" alt="">
					<div class="catagories-heading">
						<img src="img/technology.svg" alt="">
						<h2 class="catagories-heading-text reversecolor">Technology</h2>
					</div>
				</a>
			</div>
			<div class="news-wraper">
				<a href="/list/" class="catagories-wraper scaleffect">
					<div class="game-overly"></div>
					<img class="catagories-wraper-img" src="img/sports.jpg" alt="">
					<div class="catagories-heading">
						<img src="/img/sports.svg" alt="">
						<h2 class="catagories-heading-text reversecolor">Sports</h2> 
					</div>
				</a>
				<a href="/list/" class="catagories-wraper scaleffect">
					<div class="poli-overly"></div>
					<img class="catagories-wraper-img" src="/img/politics.jpg" alt="">
					<div class="catagories-heading">
						<img src="/img/political.svg">
						<h2 class="catagories-heading-text reversecolor">Politics</h2>
					</div>
				</a>
			</div>
<a class="linkb dark-button button item-content item-link card-scale scaleffect no-active-state" href="/categorylist/">See All</a>
		</div>
		<!-- Top Categories ends-->
		<!-- Recent post	 -->
		<div class="block homespac3">
         <h2>Recent Posts</h2>
         
         <% for (let i=0; i < articles.length; i++ ) { %>
            <% for (let k=0; k < articles[i].Source.Articles.length; k++ ) { %>
			<div class="post-wraper">
				<a href="/videodetail/" class="flx-anc ">
					<div class="post-thumb video-thumb">
						<img class="lazy-fade-in img-responsive lazy-loaded" src="<%= articles[i].Source.Articles[k].imageUrl %>" alt="">	
					</div>
					<div class="post-text-outer">
						<div class="post-text">
							<p>24 Things recommended to See and Do in Budapest this Season.</p>
						</div>
						<div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded"src="/img/user-b.jpg"></span>
							<span class="author-name">Camille Aline</span>  <span class="post-time">1m ago</span>
						</div>
					</div>
				</a>
			</div>
         <% } %>
         <% } %>

			<div class="post-wrap-border"></div>
			<div class="block4">
				<div class="news-ads-block1"></div>
			</div>
			<div class="post-wrap-border"></div>
			<div class="post-wraper">
				<a href="/videodetail/" class="flx-anc ">
					<div class="post-thumb video-thumb">
						<img class="lazy-fade-in img-responsive lazy-loaded" src="/img/2.jpg" alt="">	<i class="f7-icons video-thumb-icon">play_fill</i>
					</div>
					<div class="post-text-outer">
						<div class="post-text">
							<p>24 Things recommended to See and Do in Budapest this Season.</p>
						</div>
						<div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded"src="/img/user-b.jpg"></span>
							<span class="author-name">Camille Aline</span>  <span class="post-time">1m ago</span>
						</div>
					</div>
				</a>
			</div>
			<div class="post-wrap-border"></div>
			<div class="post-wraper">
				<a href="/postdetail/" class="flx-anc">
					<div class="post-thumb">
						<img class="lazy-fade-in img-responsive lazy-loaded" src="/img/6.jpg" alt="">
					</div>
					<div class="post-text-outer">
						<div class="post-text">
							<p>25 Things recommended to See and Do in Budapest this Season.</p>
						</div>
						<div class="post-user-info"> <span class="author-profile"><img class="lazy-fade-in img-responsive lazy-loaded"src="/img/user-b.jpg"></span>
							<span class="author-name">Camille Aline</span>  <span class="post-time">1m ago</span>
						</div>
					</div>
				</a>
			</div>
<a class="dark-button button item-content item-link scaleffect no-active-state" href="/list/">See All</a>
		</div>
		<!-- Recent post end	 -->
		<!-- news-gallery -->
		<div class="block-nospace gallery-b">
			<div class="news-gallery">
				<div class="news-gallery-item1 scaleffect">
					<img class="lazy-fade-in img-responsive lazy-loaded" src="/img/nws-gallery1.jpg" alt="">
				</div>
				<div class="news-gallery-item1 scaleffect">
					<img class="lazy-fade-in img-responsive lazy-loaded" src="/img/nws-gallery2.jpg" alt="">
				</div>
			</div>
			<div class="news-gallery">
				<div class="news-gallery-item1 scaleffect">
					<img class="lazy-fade-in img-responsive lazy-loaded" src="/img/nws-gallery3.jpg" alt="">
				</div>
				<div class="news-gallery-item1 scaleffect">
					<img class="lazy-fade-in img-responsive lazy-loaded" src="/img/nws-gallery4.jpg" alt="">
				</div>
			</div>
		</div>
		<!-- news-gallery end -->
		<!-- story section -->
		<div class="block style2-font ">
			<div class="post-story-info">
				<div class="story-profile">
					<img class="lazy-fade-in img-responsive lazy-loaded" src="/img/profile2.jpg">
				</div>
				<div class="story-title"> <span class="story-head">Jacqueline Asong</span>
					<span class="story-date">Jun 2</span>  <span class="story-time">3 Min Read</span>
				</div>
				<div class="post-time "><i class="f7-icons heart-fill">heart_fill</i>
				</div>
			</div>
			<h2>7 wonders of world, showcasing Indian heriage.</h2>
			<p class="story-text">Select category below that intrests you and you want to see on home. Select category below that intrests you and you want to see on home. Select category below that intrests you and you want to see on home.</p>
			<a href="/postdetail/">
				<button class="dark-button scaleffect no-active-state">Read Full Story</button>
			</a>
		</div>
		<!-- story section ends -->
		<!-- top channels -->
		<div class=" block channels-section home-channels-block homespac2">
			<h2>Top Channels</a></h2>
			<div class="channel-wraper">
				<div data-pagination='{"el": ".swiper-pagination"}' data-space-between="10" data-slides-per-view="2" class="swiper-container swiper-init trendingSwiper demo-swiper demo-swiper-auto">
					<div class="swiper-wrapper">
						<div class="swiper-slide swiper-slide-widthauto">
							<a href="#" class="flx-anc no-active-state">
								<div class="channel-row">
									<div class="channel-thumb">
										<a href="/channel/">
<span class="overly-channel"></span>
											<img class="lazy-fade-in img-responsive lazy-loaded" src="/img/channel-cnn.jpg" alt="">
										</a>
									</div>
									<div class="channel-content">
										<h4>CNN</h4>
										<p>Dally News Globally <span class="channel-co">23.7K Users</span>
										</p>
									</div>
									<div class="Follow-button-wrpper">
										<button class="follow-b scaleffect no-active-state center-flow">Follow</button>
									</div>
							</a>
							</div>
						</div>
						<div class="swiper-slide swiper-slide-widthauto">
							<a href="#" class="flx-anc no-active-state">
								<div class="channel-row">
									<div class="channel-thumb">
										<a href="/channel/">
<span class="overly-channel"></span>
											<img class="lazy-fade-in img-responsive lazy-loaded" src="/img/10.jpg" alt="">
										</a>
									</div>
									<div class="channel-content">
										<h4>Discovery</h4>
										<p>Automobile News <span class="channel-co">32.2K Users</span>
										</p>
									</div>
									<div class="Follow-button-wrpper">
										<button class="follow-b scaleffect no-active-state center-flow">Follow</button>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide swiper-slide-widthauto">
							<div class="channel-row">
								<a href="#" class="flx-anc no-active-state">
									<div class="channel-thumb">
										<a href="/channel/">
<span class="overly-channel"></span>
											<img class="lazy-fade-in img-responsive lazy-loaded" src="/img/channel-cnn.jpg" alt="">
										</a>
									</div>
									<div class="channel-content">
										<h4>CNN</h4>
										<p>Dally News Globally <span class="channel-co">23.7K Users</span>
										</p>
									</div>
									<div class="Follow-button-wrpper">
										<button class="follow-b scaleffect no-active-state center-flow">Follow</button>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- top channels -->
	</div>
</div>
</div>
	
		</div>
		</div> 
		<script src="/js/framework7.bundle.min.js"></script>
		<script src="/js/routes.js"></script>
		<script src="/js/app.js"></script>
	</body>
</html>