<%- include('../includes/head.ejs') %>
<body class="color-theme-pink">
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span>Back</span>
          </a>
        </div>
        <div class="title">Author List</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block">
        <div class="title-with-link category-title">
          <h1>Authors</h1>
          <div class="chip">
            <div class="chip-label">23 Authors</div>
          </div>
        </div>
        <ul class="popular-authors">
          <% for (let i=0; i < source.length; i++ ) { %>

          <li>
            <a href="/author/">
              <div class="author-image">
                <img src="/img/authors/author-3.jpg" alt="" />
              </div>
              <div class="author-infos">
                <div class="author-name"><%= source[i].name %></div>
                <div class="author-description">NBA & NFL Journalist</div>
              </div>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>

  <%- include('../includes/navigation.ejs') %> <%-
  include('../includes/end.ejs') %>
</body>
