<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#2196f3" />
    <meta http-equiv="Content-Security-Policy" />
    <title>NewsApp</title>
    <link rel="stylesheet" href="/css/framework7.bundle.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/framework7-icons.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="apple-touch-icon" href="/img/f7-icon-square.png" />
    <link rel="icon" href="/img/f7-icon.png" />
    <style></style>
  </head>
  <body class="main-home">
    <div
      data-name="categories2"
      class="page page-categorylayout no-navbar no-toolbar"
    >
      <div class="page-content">
        <div class="back-nav-header">
          <div class="first-blok"></div>
          <div class="mid-block"></div>
          <div class="last-block skip">
            <a href="/profile/" class="link">
              Skip <i class="f7-icons">arrow_right</i>
            </a>
          </div>
        </div>

        <div class="block select-interests">
          <h2 class="heading-c1 margin-bottom1">Select Interests</h2>
          <div class="hight-100">
            <div class="block-container no-active-state" id="bchips">
              <div class="chip no-active-state">
                <div class="chip-label no-active-state">Technology</div>
              </div>
            </div>

            <div class="save-interests-btn">
              <a
                class="dark-button button item-content item-link card-scale scaleffect"
                href="/profile/"
                >Save Interests</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
