<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="theme-color" content="#2196f3">
		<meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
		<title>NewsApp</title>
		<link rel="stylesheet" href="/css/framework7.bundle.min.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="stylesheet" href="/css/framework7-icons.css">
		<link rel="stylesheet" href="/css/default.css">
		<link rel="apple-touch-icon" href="/img/f7-icon-square.png">
		<link rel="icon" href="img/f7-icon.png">
		<style>
		</style>
	</head>
	<body class="main-home">
	
	<div class="guidetab" style=" position: absolute;
    top: 0px;
    left: 0px;
    background: var(--f7-guide-bg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    display: none;" >
</div>	


	
	
<div data-name="categories2" class="page walk-through-root no-navbar no-toolbar">
    <div class="page-content">
        <!-- Walk-Through Start --> 
          <div class="channel-wraper  walk-through">
             <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init demo-swiper">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                   <div class="swiper-slide swiper-slide-widthauto swiper-slide-active">
                     <div class="back-nav-header">
                         <div class="first-blok">
                         </div>
                         <div class="mid-block"></div>
                         <div class="last-block skip">
                            <a href="/selectinterest/" class="link  ">Skip <i class="f7-icons">arrow_right</i></a>
                         </div>
                      </div>
                      <div class="channel-row">
                         <div class="walk-through">
                            <img class="lazy-fade-in img-responsive lazy-loaded" src="img/walk-slide2.png" alt="">
                         </div>
                         <div class="channel-content">
                            <h2>News App</h2>
                            <p>Sed ut perspiciatis unde omnis<span class="channel-co">iste natus error sit.</span></p>
                         </div>
                      </div>
                   </div>
                   <div class="swiper-slide swiper-slide-widthauto swiper-slide-next" >
                     <div class="back-nav-header">
                         <div class="first-blok">
                         </div>
                         <div class="mid-block"></div>
                         <div class="last-block skip">
                            <a href="#" class="link  walkthroughskip">Skip <i class="f7-icons">arrow_right</i></a>
                         </div>
                      </div> 
                      <div class="channel-row">
                         <div class="walk-through">
                            <img class="lazy-fade-in img-responsive lazy-loaded" src="img/walk-slide3.png" alt="">
                         </div>
                         <div class="channel-content">
                                    <h2>Fastest News</h2>
                            <p>Sed ut perspiciatis unde omnis<span class="channel-co">iste natus error sit.</span></p>   
                         </div>
                      </div>
                   </div>
                   <div class="swiper-slide swiper-slide-widthauto swiper-slide-next">
                         <div class="back-nav-header">
                         <div class="first-blok">
                         </div>
                         <div class="mid-block"></div>
                         <div class="last-block skip">
                            
                          <a href="/selectinterest/" class="link  walkthroughskip">Skip <i class="f7-icons">arrow_right</i></a>
                         </div>
                      </div> 
                      <div class="channel-row">
                         <div class="walk-through">
                            <img class="lazy-fade-in img-responsive lazy-loaded" src="img/walk-slide4.png" alt="">
                         </div>
                         <div class="channel-content">
                    
                            <h2>By Top Editors</h2>
                            <p>Sed ut perspiciatis unde omnis<span class="channel-co">iste natus error sit.</span></p> 
                         </div>
                      </div>
                   </div>
                </div>
                 <div class="swiper-pagination"></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
             </div>
          </div>  
       <!-- Walk-Through End --> 
    </div>
 </div>
	
		</div>
		</div> 
		<script src="/js/framework7.bundle.min.js"></script>
		<script src="/js/routes.js"></script>
		<script src="/js/app.js"></script>
	</body>
</html>